{% extends 'book/base.html' %}

{% block body %}    
<div class="container">
    <div class="row row-cols-2">
        {% for book in book_list %}
            <div class="col mt-4">
                <div class="card text-center" style="width: 28rem; height: 100%;">
                    <img src="{{ book.image.url }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.name }}</h5>
                            <div class="row">
                                <div class="col-6"><strong>Category: </strong>{{ book.category }}
                                </div>
                                <div class="col-6"><strong>Rating: </strong>{{ book.rating }}</div>
                            </div>
                        <p class="card-text mt-3"><strong>Description: </strong>{{ book.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container text-center mt-3">
        <ul class="pagination justify-content-center">
            {% if book_list.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
                <li clsas="page-item"><a href="?page={{ book_list.previous_page_number }}" class="page-link">Previous</a></li>
            {% endif %}
            {% if book_list.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ book_list.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ book_list.paginator.num_pages }}">Last</a></li>
            {% endif %}
        </ul>
        <br>
        <p><strong>Page: </strong>{{ book_list.number }} of {{ book_list.paginator.num_pages }}</p>
    </div>
</div>
{% endblock body %}

